################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RebelleTools/bin/Debug
/RebelleTools/obj
